<main>
  <mat-card>
    <img mat-card-image src="assets/images/bg-pattern-card.svg" alt="hero image" />

    <section class="content">
      <div class="rounded-image">
        <img src="assets/images/image-victor.jpg" alt="Victor" />
      </div>
      <div class="info">
        <div class="name-age">
          <h2 class="name">Victor Crest</h2>
          <h2 class="age">26</h2>
        </div>
        <div class="location">
          <h3>London</h3>
        </div>
      </div>

      <hr style="width: 400px; margin: 0 auto; color: #f2f2f2;" />

      <ul class="cards" style="list-style-type: none; display: flex; flex-direction: row; justify-content: center">
      <li>
        <div class="card" style="padding-right: 60px">
          <h2>80K</h2>
          <span class="metadata">Followers</span>
        </div>
      </li>
      <li>
        <div class="card" style="padding-right: 60px">
          <h2>803K</h2>
          <span class="metadata">Likes</span>
        </div>
      </li>
      <li>
        <div class="card" style="padding-right: 60px">
          <h2>1.4K</h2>
          <span class="metadata">Photos</span>
        </div>
      </li>
    </ul>
    </section>
  </mat-card>

  <div class="attribution">
    <h3>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://www.github.com/marvinrusinek">Marvin Rusinek</a>.</h3>
  </div>
</main>
